:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  --bg-color: #484A47;
  --secondary-rose: #A37774;
  --main-text-color: #E0AC9D;
  --accent-gray: #5C6D70;
  --accent-salmon: #E88873;

  color: var(--main-text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
